/* @import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700'); */
/* https://fonts.google.com/specimen/Orbitron */

@font-face {
    font-family: 'Orbitron';
    src: url('./fonts/Orbitron/Orbitron-Medium.ttf');
}
canvas {
    /* border: 1px solid dodgerblue; */
    border-bottom: 1px solid dodgerblue;
    border-top: 1px solid dodgerblue;
    margin: 0 auto;
}
* {
    background-color: #070707;
    color: #BA01FF;
}

.splash-section {
    margin: 0 auto 0;
    width: 960px;
    height: auto;
    /* border: 1px solid dodgerblue; */
}

.splash-section h1 {
    margin-bottom: 100px;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    font-size: 64px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 10px #ff00de;
}

.select-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.splash-section .select {
    /* border: 1px solid black; */
    width: 200px;
    height: 10px;
    cursor: pointer;
}

.sel-red {
    background-color: rgb(255, 1, 52);
    box-shadow: 0px 0px 45px 4px rgb(253, 9, 9);
}

.sel-blue {
    background-color: rgb(0, 68, 255);
    box-shadow: 0px 0px 45px 4px rgba(0, 68, 255, 0.89);
}

.sel-orange {
    background-color: rgb(255, 238, 0);
    box-shadow: 0px 0px 45px 4px rgba(255, 238, 0, 0.89);
}

.sel-green {
    background-color: rgba(0, 255, 0, 0.705);
    box-shadow: 0px 0px 45px 4px rgba(0, 255, 0, 0.89);
}

.splash-section ul {
    margin-top: 80px;
}

.splash-section li {
    list-style-type: none;

}

.splash-section input {
    display: block;
    height: 40px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    color: #BA01FF;
    border: 1px solid #BA01FF;
    padding-bottom: 0;
}
.splash-section input::placeholder {
    color: rgb(186,1,255, 0.3);
    letter-spacing: 3px;
}
.splash-section input::placeholder-shown {
}

.splash-section button {
    display: block;
    height: 60px;
    width: 220px;
    margin: 30px auto 60px;
    border: 1px solid #BA01FF;
    box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #ff00de, 0 0 35px #ff00de, 0 0 10px #ff00de;
    color: white;
    font-size: 24px;
    letter-spacing: 5px;
    padding-top: 8px;
}

.splash-section img {
    display: block;
    height: 200px;
    margin: 50px auto;
}

.splash-section footer {
    font-size: 28px;
    display: flex;
    justify-content: center;
}